body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.top-bar {
    position: fixed;
    background-color: black;
    left: 0;
    top: 0;
    right: 0;
    height: 40px;
}

.container {
    width: 80%;
    margin: 60px auto 0 auto;
}

.header {

    .title {
        font-size: 3em;
        font-weight: bold;
    }

    nav {
        width: 40%;
    }

    ul.menu {
    
        display: flex;
        padding: 0;
        justify-content: space-between;
    
        li {
            display: inline-block;
            
            a{
                text-decoration: none;
    
                &:link {
                    color: black;
                }
    
                &:hover {
                    font-weight: bold;
                }
    
                &:visited {
                    color: black;
                }
            }
        }
    }
}


img.hero-img {
    width: 100%;
    height: 200px;
}

.main-section {
    
    .main-content {
        padding: 10px;
        width: 60%;
        float: left;
        
        .judul-artikel {
            font-size: 2em;
            font-weight: 700;
        }
    
        p {
            text-align: justify;
        }
    }

    .side-content {
        width: 30%;
        float: right;
        padding: 10px;
        
        .title2 {
            margin-top: 1.5em;
            font-size: 1.3em;
            font-weight: 500;
            margin-bottom: 1.5em;
        }

        img {
            width: 30%;
            float: left;
            margin: 5px;
        }

        p {
            text-align: justify;
        }
    }

}

.footer {

    p {
        width: 100%;
        display: inline-block;
        background-color: black;
        color: white;
        text-align: center;
        padding: 25px;
        box-sizing: border-box;
    }
    
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/
.cf {
    *zoom: 1;
}