:root{
    --primaryColor: #007af3;
    --hypeLink: #444444;
    --bgColor2: #f2f2f2;
    --bgColor1: white;
    --secondaryColor: #20272e;
}

body{
    background: var(--bgColor2);
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    background: var(--bgColor2);
    padding: 1em;

    .logo {
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 1.2em;

        span{
            color: var(--primaryColor)
        }
    }

    nav {
        display: none;
    }

    .container {
        display: flex;
        place-content: space-between;
    }

    .mobile-menu{
        cursor: pointer;
    }

}

a {
    color: var(--HypeLink);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 5em 2em;
    background: var(--bgColor2);
}

.hero {
    text-align: center;
}

.left-col {

    .subhead{
        font-weight: bold;
        color: gray;
        text-transform: uppercase;
        letter-spacing: .3em;
    }

    h1{
        font-size: 2.5em;
        line-height: 1.3em;
        margin-top: .2em;
    }

    .primary-cta{
        background: var(--primaryColor);
        color: var(--bgColor2);
        text-decoration: none;
        padding: .6em 1.3em;
        border-radius: 5em;
        font-weight: bold;
        font-size: 1.4em;
        display: inline-block;
        margin-bottom: 1.3em;
    }

    .watch-video-cta {
        margin-top: 1em;
        display: block;

        img{
            margin-right: .5em;
        }
    }

}

.hero-image{
    width: 80%;
    margin-top: 3em;
}

section.features-section {
    background: var(--secondaryColor);
    color: var(--bgColor1);
}

ul.features-list {
    margin: 0;
    margin-left: .1em;
    display: grid;
    grid-template-areas: repeat(auto-fit, minmax(19rem, 1fr));

    li {
        font-size: 1.1em;
        margin-bottom: 1em;
        margin-left: 2em;
        position: relative;

        &:before {
            content: '';
            left: -2em;
            position: absolute;
            width: 20px;
            height: 20px;
            background-image: url('../images/bullet.svg');
            background-size: contain;
            margin-right: .5em;
        }

    }

}

.features-section img {
    display: none;
}

.testimonials-section {
    background: var(--primaryColor);
    color: var(--bgColor1);

    li {
        background: #006bd6;
        text-align: center;
        padding: 2em 1em;
        margin: 0 auto 5em auto;
        border-radius: 1em;
        width: 80%;

        img {
            border-radius: 50%;
            width: 5em;
            height: 5em;
            border: 8px solid #006bd6;
            margin-top: -4.5em;
        }

    }

}

.contact-section {

    h2 {
        font-size: 2em;
    }
    
    label {
        display: block;
        font-size: 1.2em;
        margin-bottom: .5em;
    }
    
    input, textarea {
        width: 100%;
        padding: .8em;
        margin-bottom: 1em;
        border-radius: .3em;
        border: 1px solid rgb(199, 199, 199);
        box-sizing: border-box;
    }
    
    
}

input.send-message-cta {
    background-color: var(--primaryColor);
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    border: none;
    margin-bottom: 5em;
    margin-top: .5em;
    border-radius: 5em;
    display: inline-block;
    padding: .8em 2em;
    width: unset;
    cursor: pointer;
}

iframe{
    width: 100%;
    height: 300px;
}

nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    width: 70%;
    right: 0;
    top: 0;
    background: var(--secondaryColor);
    height: 100vh;
    padding: 1em;

    ul.primary-nav {
        margin-top: 3em;

        
    }
    
    li {

        a {
            color: var(--bgColor1);
            text-decoration: none;
            padding: .5em;
            display: block;
            font-size: 1.3em;
        }

        &:hover{
            font-weight: bold;
        }

    }

}

.mobile-menu-exit {
    cursor: pointer;
    float: right;
    margin: .5em;
}

@media only screen and (min-width: 768px) {

    .mobile-menu, .mobile-menu-exit {
        display: none;
    }

    .navbar {
        background: var(--bgColor1);

        .container {
            display: grid;
            grid-template-columns: 180px auto;
            justify-content: unset;
        }

        nav {
            display: flex;
            justify-content: space-between;
            background: none;
            height: auto;
            width: 100%;
            padding: 0;
            position: unset;

            ul {
                display: flex;

                a{
                    color: black;
                    font-size: 1em;
                    padding: .1em 1em;
                }

            }

            ul.primary-nav {
                margin: 0;
            }

            li.current {
                font-weight: bold;
            }

            li.go-premium-cta a {
                color: var(--primaryColor);
                border: 3px solid var(--primaryColor);
                border-radius: 5em;
                font-weight: bold;
                margin-top: -.2em;

                &:hover {
                    background: var(--primaryColor);
                    color: var(--bgColor1);
                }
            }

        }

    }

}

@media only screen and (min-width: 1080px) {
    
    .container{
        width: 1080px;
        margin: 0 auto;
    }

    section {
        padding: 10em 4em;
    }

    .hero .container {
        display: flex;
        justify-content: space-between;
        text-align: left;

        .left-col {
            margin: 3em 3em 0 5em;

            h1 {
                font-size: 3em;
                width: 90%;
            }
        }
    }

    .hero-image {
        width: 30%;
        margin-right: 8em;
    }

    .hero-cta {
        display: flex;
    }

    .primary-cta {
        margin-right: 1em;
    }

    ul.features-list {
        display: block;
        margin-left: 5em;

        li {
            font-weight: 1.4em;

            &:before {
                width: 30px;
                height: 30px;
                left: -2.4em
            }
        }
    }

    .features-section {
        position: relative;
    }

    .features-section img {
        display: block;
    }
}