:root{
    --primaryColor: #007af3;
    --hypeLink: #444444;
    --bgColor2: #f2f2f2;
    --bgColor1: white;
}

body{
    background: var(--bgColor2);
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    background: white;
    padding: 1em;

    .logo {
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 1.2em;

        span{
            color: var(--primaryColor)
        }
    }

    nav {
        display: none;
    }

    .container {
        display: flex;
        place-content: space-between;
    }

    .mobile-menu{
        cursor: pointer;
    }

}

a {
    color: var(--HypeLink);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 5em 2em;
    background: var(--bgColor2);
}

.hero {
    text-align: center;
}

.left-col {

    .subhead{
        font-weight: bold;
        color: gray;
        text-transform: uppercase;
        letter-spacing: .3em;
    }

    h1{
        font-size: 2.5em;
        line-height: 1.3em;
        margin-top: .2em;
    }

    .primary-cta{
        background: var(--primaryColor);
        color: var(--bgColor2);
        text-decoration: none;
        padding: .6em 1.3em;
        border-radius: 5em;
        font-weight: bold;
        font-size: 1.4em;
        display: inline-block;
        margin-bottom: 1.3em;
    }

    .watch-video-cta {
        margin-top: 1em;
        display: block;

        img{
            margin-right: .5em;
        }
    }

}

.hero-image{
    width: 70%;
    margin-top: 3em;
}

section.features-section {
    background: #20272e;
    color: var(--bgColor1);
}

ul.features-list {
    margin: 0;
    margin-left: .1em;

    li {
        font-size: 1.1em;
        margin-bottom: 1em;
        margin-left: 2em;
        position: relative;

        &:before {
            content: '';
            left: -2em;
            position: absolute;
            width: 20px;
            height: 20px;
            background-image: url('../images/bullet.svg');
            background-size: contain;
            margin-right: .5em;
        }

    }

}

.features-section img {
    display: none;
}

.testimonials-section {
    background: var(--primaryColor);
    color: var(--bgColor1);

    li {
        background: #006bd6;
        text-align: center;
        padding: 2em 1em;
        margin: 0 auto 5em auto;
        border-radius: 1em;
        width: 80%;

        img {
            border-radius: 50%;
            width: 5em;
            height: 5em;
            border: 8px solid #006bd6;
            margin-top: -4.5em;
        }

    }

}

.contact-section {

    h2 {
        font-size: 2em;
    }
    
    label {
        display: block;
        font-size: 1.2em;
        margin-bottom: .5em;
    }
    
    input, textarea {
        width: 100%;
        padding: .8em;
        margin-bottom: 1em;
        border-radius: .3em;
        border: 1px solid rgb(199, 199, 199);
        box-sizing: border-box;
    }
    
    
}

input.send-message-cta {
    background-color: var(--primaryColor);
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    border: none;
    margin-bottom: 5em;
    margin-top: .5em;
    border-radius: 5em;
    display: inline-block;
    padding: .8em 2em;
    width: unset;
    cursor: pointer;
}

