body {
    font-family: Arial, Helvetica, sans-serif;
}

.satu {
    overflow: auto;
    /* letter-spacing: 1px;
    line-height: 1.5em;
    word-spacing: 1px; */
    width: 350px;
    max-height: 400px;
    margin: 100px auto;
    text-align: justify;
    right: 0;
    padding: .8em;
    /* background-color: thistle; */
    box-sizing: border-box;
    border: .5px solid rgb(180, 180, 180);
    border-radius: .4em;
}

p {
    right: 0;
    display: inline-block;
    text-align: justify;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.siji, .dua, .tiga {
    display: inline-block;
    background-color: lawngreen;
}