.shape0 {
    width: 734px;
    height: 403px;
    margin: 50px auto;
    background-image: linear-gradient(to bottom right, rgba(215,117,117,1) 0%, rgba(194, 47, 47, 0.37325) 62.67%,rgba(203, 64, 64, 0.0556673) 100%);
    border-radius: 10px;
    /* background-color: saddlebrown; */
    // position: absolute;
}

.shape1 {
    // position: absolute;
    width: 734px;
    height: 403px;
    background: radial-gradient(ellipse farthest-side at 50% 50%, #D77575 0%, rgba(194, 47, 47, 0.37325) 61.52%, rgba(203, 64, 64, 0.0556673) 100%);
    border-radius: 20px;
    margin: 50px auto;
}

.shape2 {
    // position: absolute;
    background-image: url(img/Rectangle1.png);
    width: 734px;
    height: 403px;
    margin: 50px auto;
}

div{
    margin: 50px auto;
    img {
        margin: auto;
        filter: blur(10px);
    }
}