@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', Helvetica, sans-serif;
    // font-size: 18px;
}


$fontColor1: #272042;
$fontColor2: #8B8BA5;
$primaryColor: #F7C531;
$secondaryColor: #FBE0DC;
$tertiaryColor: #D8CBF6;
$quaternaryColor: #FDFAE5;

@mixin btn ($bacol:$primaryColor, $fontSize:1.1em){
    position: relative;
    color: $fontColor1;
    font-size: $fontSize;
    background-color: $bacol;
    padding: .8em 2em;
    border-radius: 1.7em 1.7em 15px 15px;
    font-weight: 500;
    // max-height: 50px;
}

@mixin textHighlight ($word: '', $height:.25em, $bottom: .1em){
    content: $word;
    position: absolute;
    width: 100%;
    display: block;
    bottom: $bottom;
    background-color: $secondaryColor;
    height: $height;
    border-radius: 100px;
    z-index: -1;
    color: $fontColor1;
}

// @mixin textHighlight ($word:'',$height:.5em){
//     content: $word;
//     position: absolute;
//     width: 100%;
//     display: block;
//     bottom: .1em;
//     background-color: $secondaryColor;
//     height: $height;
//     border-radius: 100px;
//     z-index: -1;
// }

a {
    text-decoration: none;
    color: $fontColor2;
}

.active, .cta {
    color: $fontColor1;
    font-weight: 500;
}

.container {
    display: grid;
    max-width: 1440px;
    padding: 2.4em 100px 0 100px;
    margin: 0 auto;
    // background-color: #ddd;
    gap: 100px;
    align-items: center;
    align-content: center;

    .navbar {
        display: flex;
        justify-content: space-between;
        max-height: 50px;
        align-items: center;

        .logo {
            display: flex;
            align-items: center;
            font-size: 1.8em;
            font-weight: 500;

            img {
                max-width: 1.8em;
                max-height: 1.8em;
                margin-right: 10px;
            }
        }

        .menu {
            display: grid;
            grid-auto-flow: column;
            list-style: none;
            align-items: center;
            gap: 2em;

            a{
                display: block;
                position: relative;

                &.active::after {
                    @include textHighlight('',.25em);
                }
            }
            
            .cta {
                @include btn($secondaryColor)
            }
        }
    }

    .hero {
        display: grid;
        position: relative;
        justify-content: space-evenly;
        place-items: center;
        grid-auto-flow: column;
        gap: 100px;
        grid-auto-columns: minmax(auto, 424px) minmax(auto, 628px);
        // grid-auto-rows: minmax(auto, 400px);

        .txtBx {
            display: flex;
            position: relative;
            // max-width: 424px;
            flex-direction: column;
            // justify-content: flex-start;
            align-items: flex-start;

            h1 {
                display: inline-block;
                position: relative;
                margin-bottom: 10px;
                font-weight: 700;
                font-size: 2.8em;
                line-height: 70px;

                span {
                    display: inline-block;
                    position: relative;

                    &::before {
                        @include textHighlight('', .25em, .29em);
                    }
                    
                }
            }

            p {
                display: inline-block;
                margin-bottom: 40px;
                color: $fontColor2;
                font-size: 1.25em;
                line-height: 34px;
            }

            .btn {
                @include btn($primaryColor, 1.1em)
            }
        }

        .vidBx {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            place-self: center;
            width: 96%;
            // max-width: 100%;
            height: 400px;
            min-height: 340px;
            height: 100%;
            height: 108%;
            background-color: #ddd;
            // background-image: url('img/vid.png');
            background-position: center;
            background-size: cover;
            border-radius: 10% 10% 20% 20% / 15% 15% 85% 85%;
            border-radius: 90px;
            border-bottom-left-radius: 128px;
            border-bottom-right-radius: 128px;
            // overflow: hidden;

            .frame {
                display: flex;
                width: 100%;
                height: 100%;
                background-color: #ddd;
                border-radius: inherit;
                overflow: hidden;
                
                .img {
                    width: 100%;
                    background-position: center;
                    background-size: cover;
                    cursor: pointer;
                    transition: .25s;
                }

                .btn.play {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    width: 70px;
                    height: 70px;
                    background-color: $secondaryColor;
                    border: 4px solid $secondaryColor;
                    border-radius: 50%;
                    top: calc(50% - 50px);
                    right: calc(50% - 36px);
                    cursor: pointer;
                    z-index: 2;
                    opacity: .6;
                    transition: .25s;
                }

                &:hover {
                    
                    .img {
                        // filter: grayscale(.35);
                        opacity: .9;
                    }

                    .btn.play {
                        opacity: 1;
                        background-color: $secondaryColor;
                    }
                }
            }


            
            &::before {
                position: absolute;
                content: '';
                z-index: 2;
                width: inherit;
                height: 88%;
                background-color: $quaternaryColor;
                border-radius: 10% 10% 20% 20% / 15% 15% 85% 85%;
                border-top-left-radius: 90px;
                border-top-right-radius: 90px;
                top: -14px;
                left: -14px;
                z-index: -1;
            }
            
            &::after {
                position: absolute;
                content: '';
                z-index: 2;
                width: inherit;
                height: 88%;
                background-color: $tertiaryColor;
                border-radius: 10% 10% 20% 20% / 15% 15% 85% 85%;
                border-top-left-radius: 90px;
                border-top-right-radius: 90px;
                bottom: -8px;
                right: -8px;
                z-index: -1;
            }

            // .frame {
            //     position: relative;
            //     background-image: url('img/vid.png');
            //     max-width: 100%;
            //     min-width: 90%;
            //     // display: none;
            //     // border-radius: 20% 20% 78% 78% / 20% 20% 48% 48% ;
            //     // overflow: hidden;
            //     &:hover {
            //         filter: grayscale(.25);
            //     }
                
            // }
            

        }


    }
}