.container {
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    padding: 5px;

    img {
        width: 40%;
        float: left;
        margin: 5px;
    }

}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/
.cf {
    *zoom: 1;
}